* {
    box-sizing: border-box;
}


:root {
    --color-white: #fff;
    --bg-accent: #E4EFF4;
    --btn-accent: #338CBE;
    --stroke: #000;
    --stroke-normal: 5px;
    --stroke-thin: 3px;

    --main-font: 'Poppins', sans-serif;

    --title-text-big: 80px;
    --title-text-medium: 50px;
    --title-text-small: 35px; 
    --title-text-xs: 25px;
    
    --text-medium: 24px;
    --text-s-medium: 15px;
    --text-x-small: 10px;
    --text-small: 12px;
    --text-btn: 30px;
    --text-btn-weight: medium;   
}

body {
    font-family: 'Poppins', sans-serif;
    min-width: 360px;
}

h1 {
    font-size: var(--title-text-medium);
}

h2 {
    font-size: var(--title-text-small)
}

h3 {
    font-size: var(--title-text-xs);
}

/* -----nav menu -------------- */

.navbar, 
.nav {
    background: var(--bg-accent);
    padding-left: 40px;
    padding-right: 40px;
    z-index: 3;
}

.navbar-brand {
    width: 50px;  
    margin-left: -20px;
}

.navbar-toggler {
    color: transparent;
    position: absolute;
    right: -30px;    
}

.navbar .navbar-toggler-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(0,0,0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.menu-navbar {
    text-align: center;
    font-size: var(--text-s-medium);
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: var(--stroke);
}

.active {
    color: var(--btn-accent);    
}


/* ------hero section------------ */

section.main {
    text-align: center;
    padding: 120px 40px;
    position: relative;
}

.intro h1 span {
    color: var(--btn-accent);
    display: inline-block;
}

.intro h1 span:hover {
    animation-name: nudge;
    animation-duration: 1s;
    cursor: default;
}

@keyframes nudge {
    50% {
        transform: rotate(10deg);
    }
}

.myRole {
    margin-top: 30px;
}

.offering {
    max-width: 400px;
    margin: 30px auto;
}

.offering p {
    width: 80px;
    height: 80px;
    border: var(--stroke-thin) solid var(--stroke);
    border-radius: 50%;
    font-size: var(--text-x-small);
    padding: 20px 3px;
    text-align: center;
}


.offering p:first-child {
    padding: 30px 3px;
}

.offering p:nth-child(2) {
    background-color: var(--bg-accent);
}


.offering p:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor:default;
}

/* ---- button link ---- */
.myProjectBtnParent {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.myProjectBtn {
    background-color: var(--btn-accent);
    font-weight: 500;
    font-size: var(--text-x-medium);
    width: 180px;
    padding: 10px;
    color: var(--color-white);    
}

.myProjectBtn:hover {
    background-color: var(--color-white);
    border: var(--stroke-thin) solid var(--stroke);    
}

/* ---portfolio  thumbnail section ----- */

.thumbnail-intro {
    text-align: center;
}

section.portfolio-thumbnail {
    background-color: var(--bg-accent);
    width: 100%;
    height: auto;
}


section.portfolio-thumbnail .btn {
    display: block;
    margin: auto;
    width: 50%;
    background-color: var(--bg-accent);
}

section.portfolio-thumbnail .btn:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.116);
    transition: all 0.2s ease;
}


.portfolio img {
    border-radius:10px;
    width: 90%;
    margin: 0 auto;
}

.portfolio h3, 
.portfolio p,
.portfolio small {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.portfolio p {
    font-size: var(--text-small);
}

.portfolio small {
    font-size: var(--text-small);
    font-style: italic;
}


section.portfolio-thumbnail .github-btn {
    background-color: var(--btn-accent);
}



/* ----------------about me page ----------------------------- */
.about-me h4 {
    background: var(--bg-accent);
    width: 80%;
    margin: auto;
}

.hello {
    width: 100px;
    top: 50%;
    left: 20%;
    z-index: 3;
}

.about-img {
    width: 70%;
    padding: 40px 0;
    max-width: 500px;
    align-items: center;
    margin: auto;
    border-radius: 20%;
}

.contact-img {
    border-radius: 10px;
    width: 70%;
}

.contacts a {
    margin: 20px;
}


.about-desc {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    font-size: var(--text-s-medium);
}


.about-desc p {
    line-height: 180%;
    letter-spacing: 1px;
}

/* --------contact--------------- */

.contact-me {
    background: var(--bg-accent);
}
